In [1]:
# Import our dependencies
import pandas as pd
import os
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from pymongo import MongoClient
import pymongo

**Read the data - information from Kaggle**

In [2]:
# Create an instance of MongoClient
client = pymongo.MongoClient()

# Select the database and collection names
db_name = 'horse_db'
collection_name = 'horses'

# Read the file (e.g., CSV) into a pandas DataFrame
file_path = r'C:\Users\aumek\OneDrive\Desktop\Git_Personnal_Rep\Resource_mustang\horses_2020.csv'

# Read the CSV file into pandas, specifying low_memory=False
horse_df = pd.read_csv(file_path, low_memory=False)
horse_df.head(3)

# Convert DataFrame to a list of dictionaries
data = horse_df.to_dict(orient='records')

# Select the database and collection
db = client[db_name]
collection = db[collection_name]

# Insert the data into the collection
collection.insert_many(data)

# Confirm that the new database was created
print(client.list_database_names())

['admin', 'classDB', 'config', 'horse_db', 'local', 'merged_data_db', 'met', 'races_db', 'uk_food']

In [3]:
# Find a single document to extract the field names
document = collection.find_one()

# Print the field names
if document:
    fields = document.keys()
    print(fields)

dict_keys(['_id', 'Unnamed: 0', 'rid', 'course', 'time', 'date', 'title', 'rclass', 'band', 'ages', 'distance', 'condition', 'hurdles', 'prizes', 'winningTime', 'prize', 'metric', 'countryCode', 'ncond', 'class', 'currency', 'horseName', 'age', 'saddle', 'decimalPrice', 'isFav', 'trainerName', 'jockeyName', 'position', 'positionL', 'dist', 'weightSt', 'weightLb', 'overWeight', 'outHandicap', 'headGear', 'RPR', 'TR', 'OR', 'father', 'mother', 'gfather', 'runners', 'margin', 'weight', 'res_win', 'res_place', 'price'])

In [4]:
# Select the database and collection
db = client[db_name]
collection = db[collection_name]

# Retrieve all documents from the collection
documents = collection.find()

# Convert documents to a list of dictionaries
data = list(documents)

# Convert the list of dictionaries to a pandas DataFrame
horse_df = pd.DataFrame(data)

# Print the DataFrame
horse_df.head(5)

,_id,Unnamed: 0,rid,course,time,date,title,rclass,band,ages,...,OR,father,mother,gfather,runners,margin,weight,res_win,res_place,price
0,64b60c52fe11504c66b35ff0,0.0,10312,Fakenham,02:55,20/01/01,Happy New Year Maiden Hurdle (Div I),Class 4,NaN,4yo+,...,NaN,Pour Moi,Laughing Water,Duke Of Marmalade,9.0,1.199095,66.0,1.0,1.0,NaN
1,64b60c52fe11504c66b35ff1,1.0,10312,Fakenham,02:55,20/01/01,Happy New Year Maiden Hurdle (Div I),Class 4,NaN,4yo+,...,110.0,Getaway,Shouette,Sadler's Wells,9.0,1.199095,65.0,0.0,1.0,NaN
2,64b60c52fe11504c66b35ff2,2.0,10312,Fakenham,02:55,20/01/01,Happy New Year Maiden Hurdle (Div I),Class 4,NaN,4yo+,...,NaN,Vale Of York,Finnmark,Halling,9.0,1.199095,72.0,0.0,1.0,NaN
3,64b60c52fe11504c66b35ff3,3.0,10312,Fakenham,02:55,20/01/01,Happy New Year Maiden Hurdle (Div I),Class 4,NaN,4yo+,...,NaN,Sixties Icon,Highland Jig,Norse Dancer,9.0,1.199095,72.0,0.0,0.0,NaN
4,64b60c52fe11504c66b35ff4,4.0,10312,Fakenham,02:55,20/01/01,Happy New Year Maiden Hurdle (Div I),Class 4,NaN,4yo+,...,NaN,Iffraaj,Hallowed Park,Barathea,9.0,1.199095,72.0,0.0,0.0,NaN

In [5]:
# Select the database and collection names
db_name = 'races_db'
collection_name = 'races'

# Read the file (e.g., CSV) into a pandas DataFrame
file_path = r'C:\Users\aumek\OneDrive\Desktop\Git_Personnal_Rep\Resource_mustang\races_2020.csv'

# Read the CSV file into pandas, specifying low_memory=False
race_df = pd.read_csv(file_path, low_memory=False)
race_df.head(3)

# Convert DataFrame to a list of dictionaries
data = race_df.to_dict(orient='records')

# Select the database and collection
db = client[db_name]
collection = db[collection_name]

# Insert the data into the collection
collection.insert_many(data)

# Confirm that the new database was created
print(client.list_database_names())

['admin', 'classDB', 'config', 'horse_db', 'local', 'merged_data_db', 'met', 'races_db', 'uk_food']

In [6]:
# Find a single document to extract the field names
document = collection.find_one()

# Print the field names
if document:
    fields = document.keys()
    print(fields)

dict_keys(['_id', 'rid', 'course', 'time', 'date', 'title', 'rclass', 'band', 'ages', 'distance', 'condition', 'hurdles', 'prizes', 'winningTime', 'prize', 'metric', 'countryCode', 'ncond', 'class', 'currency'])

In [7]:
# Select the database and collection
db = client[db_name]
collection = db[collection_name]

# Retrieve all documents from the collection
documents = collection.find()

# Convert documents to a list of dictionaries
data = list(documents)

# Convert the list of dictionaries to a pandas DataFrame
race_df = pd.DataFrame(data)

# Print the DataFrame
race_df.head(3)

,_id,rid,course,time,date,title,rclass,band,ages,distance,condition,hurdles,prizes,winningTime,prize,metric,countryCode,ncond,class,currency
0,64b7487577d482df1d69ee58,10312,Fakenham,02:55,20/01/01,Happy New Year Maiden Hurdle (Div I),Class 4,NaN,4yo+,2m,Good To Soft,9 hurdles,"[5198.4, 1526.4, 763.2, 381.6]",253.88,7869,3218.0,GB,10,4,NaN
1,64b7487577d482df1d69ee59,10896,Cheltenham,03:50,20/01/01,EBF Stallions &amp; Cheltenham Pony Club (A St...,Class 1,NaN,4yo,1m6f,Soft,NaN,"[14237.5, 5342.5, 2675.0, 1332.5, 670.0, 335.0]",206.55,24592,2815.0,GB,5,1,NaN
2,64b7487577d482df1d69ee5a,23038,Tramore (IRE),02:55,20/01/01,Jerry O'Donovan Memorial Rated Novice Chase,NaN,NaN,5yo+,2m,Soft,12 fences,"[7387.5, 2387.5, 1137.5, 512.5, 262.5, 137.5]",266.40,11826,3218.0,IE,5,0,NaN

In [8]:
# merged_df = pd.merge(horse_df, race_df, on='rid', how='left')  # Includes all rows from df1

In [9]:
# merged_df.columns

# **Data Cleanup**

In [10]:
file_path = r'C:\Users\aumek\OneDrive\Desktop\Git_Personnal_Rep\Resource_mustang\merged_data.csv'

# Read the CSV file into pandas
random_forest = pd.read_csv(file_path)
random_forest.head(5)

C:\Users\aumek\AppData\Local\Temp\ipykernel_11336\2754464565.py:4: DtypeWarning: Columns (11,19,46) have mixed types. Specify dtype option on import or set low_memory=False.
  random_forest = pd.read_csv(file_path)

,Unnamed: 0,rid,course,time,date,title,rclass,band,ages,distance,...,OR,father,mother,gfather,runners,margin,weight,res_win,res_place,price
0,0,10312,Fakenham,02:55,20/01/01,Happy New Year Maiden Hurdle (Div I),Class 4,NaN,4yo+,2m,...,NaN,Pour Moi,Laughing Water,Duke Of Marmalade,9.0,1.199095,66.0,1.0,1.0,NaN
1,1,10312,Fakenham,02:55,20/01/01,Happy New Year Maiden Hurdle (Div I),Class 4,NaN,4yo+,2m,...,110.0,Getaway,Shouette,Sadler's Wells,9.0,1.199095,65.0,0.0,1.0,NaN
2,2,10312,Fakenham,02:55,20/01/01,Happy New Year Maiden Hurdle (Div I),Class 4,NaN,4yo+,2m,...,NaN,Vale Of York,Finnmark,Halling,9.0,1.199095,72.0,0.0,1.0,NaN
3,3,10312,Fakenham,02:55,20/01/01,Happy New Year Maiden Hurdle (Div I),Class 4,NaN,4yo+,2m,...,NaN,Sixties Icon,Highland Jig,Norse Dancer,9.0,1.199095,72.0,0.0,0.0,NaN
4,4,10312,Fakenham,02:55,20/01/01,Happy New Year Maiden Hurdle (Div I),Class 4,NaN,4yo+,2m,...,NaN,Iffraaj,Hallowed Park,Barathea,9.0,1.199095,72.0,0.0,0.0,NaN

In [11]:
import re

#remove special characters and normalize distance to show all as 'meters'

# Convert 'dist' column to string data type
merged_df['distance'] = random_forest['distance'].astype(str)

# Define the function to clean the distance values
def clean_distance(distance):
    if re.search(r'\d+m', distance):
        meters = re.findall(r'\d+', distance)
        return int(meters[0])
    elif re.search(r'\d+f', distance):
        furlongs = re.findall(r'\d+', distance)
        meters = int(furlongs[0]) * 201
        return meters
    elif re.search(r'\dm\d+f', distance):
        meters = re.findall(r'\d+m', distance)
        furlongs = re.findall(r'\d+f', distance)
        meters = int(meters[0].strip('m'))
        furlongs = int(furlongs[0].strip('f')) * 201
        return meters + furlongs
    else:
        return distance

# Apply the clean_distance function to the 'dist' column
random_forest['distance'] = random_forest['distance'].apply(clean_distance)

# Print the cleaned DataFrame
random_forest.head(3)

NameError: name 'merged_df' is not defined

In [ ]:
random_forest.columns

In [ ]:
#to verify the data type
random_forest.dtypes

In [ ]:
#changing datatype for 'positionL' and 'dist' to numeric
random_forest['positionL'] = pd.to_numeric(random_forest['positionL'], errors='coerce')
random_forest['distance'] = pd.to_numeric(random_forest['distance'], errors='coerce')

# Verify the updated data types
print(random_forest.dtypes)

In [ ]:
import numpy as np

# Specify the columns you want to drop NA values
columns_to_drop_na = ['isFav', 'res_win']

# Specify the values representing blanks in those columns
blank_values = ['', ' ', '-']

# Replace specific blank values with NaN
random_forest.replace(blank_values, np.nan, inplace=True)

# Drop rows with NA values in the specified columns
random_forest.dropna(subset=columns_to_drop_na, inplace=True)

# Reset the index
random_forest.reset_index(drop=True, inplace=True)

In [ ]:
# Count rows and columns
num_rows, num_cols = random_forest.shape
print("Number of rows:", num_rows)
print("Number of columns:", num_cols)

unique_counts = random_forest.nunique()
print("Unique value counts per column:")
print(unique_counts)

In [ ]:
clean_df = random_forest[['rid','winningTime','metric','ncond','class','age','decimalPrice',
                     'isFav','position','positionL','distance','outHandicap','RPR','saddle','TR',
                     'OR','runners','weight','res_win']]

In [ ]:
clean_df.dropna()

In [ ]:
# Count rows and columns
num_rows, num_cols = clean_df.shape
print("Number of rows:", num_rows)
print("Number of columns:", num_cols)

In [ ]:
# Specify the file path using raw string literal (r) to avoid 'unicodeescape' error
file_path = r'C:\Users\aumek\OneDrive\Desktop\Git_Personnal_Rep\Resource_mustang\clean_df.csv'

# Save the DataFrame to a CSV file without the index column
clean_df.to_csv(file_path, index=False)

In [ ]:
# Count the remaining rows and columns in the DataFrame
num_rows, num_columns = clean_df.shape

print("Number of rows:", num_rows)
print("Number of columns:", num_columns)